.arrow-gray {
  background-image: url('../images/arrow_gray.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.arrow-blue {
  background-image: url('../images/arrow_blue.svg');
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px;
}